In [1]:
import numpy as np
import pandas as pd
import json
import requests
def ssql(sql):
    admin_token = '2cebeb5c7edac5ef0d7c5a640e69fc7d43bf2cd6a24ce43dfee3dd33662c0bab'
    url = 'http://sensor.wb-intra.com/api/sql/query?token=%s&project=production' % admin_token
    data = {'q': sql, 'format': 'json'}
    req = requests.post(url,data)
    req_dec = req.content.decode()
    try:
        req_json = json.loads('[' + req_dec.replace('\n', ',')[:-1] + ']')
        df_d_id = pd.DataFrame(req_json)
        return df_d_id
    except:
        print(req_dec)

In [2]:
df_A = ssql("""SELECT t2.date,
       t2.distinct_id,
       t2.game_num
FROM
  (SELECT second_id
   FROM users
   WHERE reg_channelId IN ('114',
                           '130')
   GROUP BY 1) t1
JOIN
  (SELECT date, distinct_id,
                count(distinct_id)AS game_num
   FROM events
   WHERE event = 'gameStart'
     AND gameTypeId = 1800
     AND date BETWEEN '2020-10-19' AND CURRENT_DATE()
   GROUP BY 1,
            2)t2 ON t1.second_id = t2.distinct_id """)

In [3]:
df_B = ssql("""SELECT t2.date, t2.distinct_id,
                t2.game_num
FROM
  (SELECT second_id
   FROM users
   WHERE reg_channelId IN ('131',
                           '122',
                           '113',
                           '111',
                           '127',
                           '112',
                           '125',
                           '116')
   GROUP BY 1) t1
JOIN
  (SELECT date, distinct_id,
                count(distinct_id)AS game_num
   FROM events
   WHERE event = 'gameStart'
     AND gameTypeId = 1800
     AND date BETWEEN '2020-10-19' AND CURRENT_DATE()
   GROUP BY 1,
            2)t2 ON t1.second_id = t2.distinct_id""")

In [6]:
df_B

             date distinct_id  game_num
0      2020-10-23   121569811         3
1      2020-10-21   121569811        12
2      2020-10-22   121569811         7
3      2020-10-20   121569811         4
4      2020-10-21   145409967         1
...           ...         ...       ...
35149  2020-10-23   128444081         1
35150  2020-10-22   113617636         9
35151  2020-10-23   113617636         7
35152  2020-10-22   130840356        15
35153  2020-10-23   130840356        12

[35154 rows x 3 columns]

In [5]:
list(df_A['date'].unique())

['2020-10-23', '2020-10-22', '2020-10-21', '2020-10-20', '2020-10-19']

## 19号的游戏局数分位数

In [21]:
df_A[df_A['date'] == list(df_B.date.unique())[-1]].describe().T.to_clipboard()

In [22]:
df_B[df_B['date'] == list(df_B.date.unique())[-1]].describe().T.to_clipboard()

## 20号的游戏局数分位数

In [23]:
df_A[df_A['date'] == list(df_B.date.unique())[3]].describe().T.to_clipboard()

In [24]:
df_B[df_B['date'] == list(df_B.date.unique())[3]].describe().T.to_clipboard()

## 21号的游戏局数分位数

In [25]:
df_A[df_A['date'] == list(df_B.date.unique())[2]].describe().T.to_clipboard()

In [26]:
df_B[df_B['date'] == list(df_B.date.unique())[2]].describe().T.to_clipboard()

## 22号的游戏局数分位数

In [27]:
df_A[df_A['date'] == list(df_B.date.unique())[1]].describe().T.to_clipboard()

In [28]:
df_B[df_B['date'] == list(df_B.date.unique())[1]].describe().T.to_clipboard()